{% include "head.html" %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/images/car.jpg" alt="red car" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Coffee and WiFi</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to my coffe and WiFi site.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3"><a href="#">Posts</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="#"> About</a></button>
      </div>
    </div>

  </div>

{% include "footer.html" %}