{% include "head.html" %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Coffee and WiFi</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to my coffe and WiFi site.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3"><a href="#">Add Location</a></button>
      </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Map URL</th>
                <th>image URL</th>
                <th>Location</th>
                <th>Sockets</th>
                <th>Toilets</th>
                <th>WiFi</th>
                <th>Phone Calls</th>
                <th>Seats</th>
                <th>Coffee Price</th>
            </tr>

            {% for location in locations %}
                <tr>
                    <td>{{ location.name }}</td>
                    <td><a href="{{ location.map_url }}">location</a> </td>
                    <td><a href="{{ location.img_url }}">Image</a></td>
                    <td>{{ location.location }}</td>
                    <td>{{ location.has_sockets }}</td>
                    <td>{{ location.has_toilet }}</td>
                    <td>{{ location.has_wifi }}</td>
                    <td>{{ location.can_take_calls }}</td>
                    <td>{{ location.seats }}</td>
                    <td>{{ location.coffee_price }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>

  </div>

{% include "footer.html" %}